body{
    background-color: gray;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
div{
    background-color: tan;
}
ul{
    list-style: none;
}
h3{
    color: hotpink;
    text-decoration-line: underline;
}