body{
    margin: 0px;
}
ul{
    border: 1px solid blue;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    height: 50px;
}
li{
    float: left;
}
a{
    text-decoration: none;
    background-color: black;
    color: white;
    height: 50px;
    display: inline-block;
    width: 100px;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    background-color: lightgray;
    color: black;
}
li:first-child{
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    font-family:cursive ;
    margin-right: 20px;
}