body{
    margin: 0px;
}
ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    height: 50px;
}
a{
    text-decoration: none;
    background-color: black;
    color:blue;
    height: 50px;
    display: inline-block;
    width: 100px;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    background-color: lightgray;
    color: black;
    width: 160px;
}
li:last-child{
    margin-left:20px;
    margin-right: 10px;
}
li:nth-child(2){
    margin-right: 60px;
}
li{
    color: blue;
}